ion-tabs {
  ion-fab {
    margin-bottom: env(safe-area-inset-bottom); /* fix notch ios*/
    transition: all 0.3s ease-in-out;
    ion-fab-button {
      --box-shadow: none;
    }
  }

  &.keyboard-is-visible {
    ion-fab {
      display: none;
    }
    ion-tab-bar {
      display: none;
    }
  }

  ion-tab-bar {
    --border: 0;
    position: fixed; // Changed from absolute to fixed
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    transition: all 0.3s ease-in-out;
    &:after {
      content: " ";
      width: 100%;
      bottom: 0;
      background: var(--ion-color-light);
      height: env(safe-area-inset-bottom);
      position: absolute;
    }
    ion-tab-button {
      --background: var(--ion-color-light);
    }
    ion-tab-button.comments {
      margin-right: 0px;
      border-top-right-radius: 18px;
    }
    ion-tab-button.notifs {
      margin-left: 0px;
      border-top-left-radius: 18px;
    }
    svg {
      width: 72px;
      margin-top: 19px;
      path {
        fill: var(--ion-color-light);
      }
    }
  }
}

:root {
  --keyboard-offset: 0px;
}
