<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Person Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="justify-align-center" *ngIf="fastingPerson">
        <ion-label
          ><strong>First Name:</strong> {{fastingPerson.firstName}}
        </ion-label>
        <br />
        <ion-label
          ><strong>Last Name:</strong> {{fastingPerson.lastName}}</ion-label
        >
        <br />
        <ion-label
          ><strong>Number of people: </strong
          >{{fastingPerson.fasting}}</ion-label
        >
        <ion-label><strong>Meal taken: </strong></ion-label>
        <ion-checkbox
          disabled
          [checked]="isMealTaken"
          color="success"
        ></ion-checkbox>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button
    color="success"
    expand="full"
    (click)="confirmAndOpenBarCodeScanner()"
  >
    <span *ngIf="fastingPerson && !isMealTaken" style="padding: 5px">
      Confirm and
    </span>
    Scan
    <span *ngIf="fastingPerson" style="padding: 5px"> another </span>
    code</ion-button
  >
</ion-content>
