app-tab-profile,
.home {
  ion-list {
    border-radius: 1rem;
    overflow: hidden;

    ion-item,
    .item:first-child,
    .item:last-child {
      border: none;
    }

    ion-datetime {
      padding-left: 0;
    }
  }
}

.email {
  max-width: fit-content !important;
  margin-right: 5px;
}

ion-button {
  margin: 10px;
  float: right;
}
