<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Person Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false">
  <ion-refresher slot="fixed" (ionRefresh)="refreshFastingPeople($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="fastingPerson">
    <form [formGroup]="fastingPersonForm" (ngSubmit)="onSubmit()" novalidate>
      <ion-item lines="full">
        <ion-label position="floating">Identifier</ion-label>
        <ion-input type="number" formControlName="id"></ion-input>
      </ion-item>
      <div *ngIf="form.id.errors">
        <span
          class="is-invalid ion-padding"
          *ngIf="isSubmitted && form.id.errors?.required"
        >
          Identifier is <strong>required</strong>.
        </span>
      </div>
      <ion-item lines="full">
        <ion-label position="floating">CIN</ion-label>
        <ion-input
          type="text"
          maxlength="8"
          minlength="8"
          formControlName="cin"
        ></ion-input>
        <div *ngIf="form.cin.errors">
          <span
            class="is-invalid ion-padding"
            *ngIf="isSubmitted && (form.cin.errors?.minlength || form.cin.errors?.maxlength)"
          >
            CIN must be 8 characters.
          </span>
        </div>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">First Name</ion-label>
        <ion-input type="text" formControlName="firstName"></ion-input>
      </ion-item>
      <div *ngIf="form.firstName.errors">
        <span
          class="is-invalid ion-padding"
          *ngIf="isSubmitted && form.firstName.errors?.required"
        >
          First name is <strong>required</strong>.
        </span>
      </div>
      <ion-item lines="full">
        <ion-label position="floating">Last Name</ion-label>
        <ion-input type="text" formControlName="lastName"></ion-input>
      </ion-item>
      <div *ngIf="form.lastName.errors">
        <span
          class="is-invalid ion-padding"
          *ngIf="isSubmitted && form.lastName.errors?.required"
        >
          Last name is <strong>required</strong>.
        </span>
      </div>

      <ion-item lines="full">
        <ion-label position="floating">Phone Number</ion-label>
        <ion-input type="text" formControlName="phone"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Signle meal</ion-label>
        <ion-input type="number" formControlName="singleMeal"></ion-input>
      </ion-item>
      <div *ngIf="form.singleMeal.errors">
        <span
          class="is-invalid ion-padding"
          *ngIf="isSubmitted && form.singleMeal.errors?.required"
        >
          Single meal is <strong>required</strong>.
        </span>
        <span
          class="is-invalid ion-padding"
          *ngIf="isSubmitted && form.singleMeal?.errors?.incorrect"
        >
          Single meal or Family meal should be <strong>greater than 0</strong>.
        </span>
      </div>

      <ion-item lines="full">
        <ion-label position="floating">Family meal</ion-label>
        <ion-input type="number" formControlName="familyMeal"></ion-input>
      </ion-item>
      <div *ngIf="form.familyMeal.errors">
        <span
          class="is-invalid ion-padding"
          *ngIf="isSubmitted && form.familyMeal.errors?.required"
        >
          Family meal is <strong>required</strong>.
        </span>
        <span
          class="is-invalid ion-padding"
          *ngIf="isSubmitted && form.familyMeal?.errors?.incorrect"
        >
          Single meal or Family meal should be <strong>greater than 0</strong>.
        </span>
      </div>
      <ion-item lines="full">
        <ion-label position="floating">Comments</ion-label>
        <ion-input type="text" formControlName="comment"></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button
            [disabled]="isSubmitted"
            type="submit"
            shape="round"
            expand="block"
          >
            Update person details
          </ion-button>
          <ion-button
            [disabled]="isSubmitted"
            color="danger"
            shape="round"
            expand="block"
            (click)="deleteFastingPerson(fastingPerson)"
          >
            Delete Person
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
