<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/login']">Sign In</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <img src="assets/ramadan.png" alt="ramadan" />
  </div>
  <form [formGroup]="registerForm" id="form" (ngSubmit)="onSubmit()" novalidate>
    <ion-item
      class="ion-margin-bottom"
      [ngClass]="{ 'is-invalid': isSubmitted && form.name.errors }"
    >
      <ion-input
        formControlName="name"
        type="name"
        placeholder="Name"
      ></ion-input>
    </ion-item>
    <div *ngIf="isSubmitted && form.name.errors">
      <span
        class="is-invalid"
        *ngIf="isSubmitted && form.name.errors?.required"
      >
        Name is <strong>required</strong>.
      </span>
    </div>
    <ion-item
      class="ion-margin-bottom"
      [ngClass]="{ 'is-invalid': isSubmitted && form.username.errors }"
    >
      <ion-input
        formControlName="username"
        type="text"
        type="username"
        placeholder="Username"
      ></ion-input>
    </ion-item>
    <div *ngIf="isSubmitted && form.username.errors">
      <span
        class="is-invalid"
        *ngIf="isSubmitted && form.username.errors?.required"
      >
        Username is <strong>required</strong>.
      </span>
    </div>
    <ion-item
      class="ion-margin-bottom"
      [ngClass]="{ 'is-invalid': isSubmitted && form.region.errors }"
    >
      <ion-select formControlName="region" placeholder="Choose region">
        <ion-select-option
          *ngFor="let region of (regions$ | async)"
          [value]="region.id"
        >
          {{ region?.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <div *ngIf="isSubmitted && form.region.errors">
      <span
        class="is-invalid"
        *ngIf="isSubmitted && form.region.errors?.required"
      >
        Region is <strong>required</strong>.
      </span>
    </div>
    <ion-item
      class="ion-margin-bottom"
      [ngClass]="{ 'is-invalid': isSubmitted && form.email.errors }"
    >
      <ion-input
        formControlName="email"
        type="email"
        placeholder="Email"
      ></ion-input>
    </ion-item>
    <div *ngIf="isSubmitted && form.email.errors">
      <span
        class="is-invalid"
        *ngIf="isSubmitted && form.email.errors?.required"
      >
        Email is <strong>required</strong>.
      </span>
      <span class="is-invalid" *ngIf="isSubmitted && form.email.errors?.email">
        Should be a valid email.
      </span>
    </div>
    <ion-item
      class="ion-margin-bottom"
      [ngClass]="{ 'is-invalid': isSubmitted && form.password.errors }"
    >
      <ion-input
        formControlName="password"
        type="password"
        placeholder="Password"
      ></ion-input>
    </ion-item>
    <div *ngIf="isSubmitted && form.password.errors">
      <span
        class="is-invalid"
        *ngIf="isSubmitted && form.password.errors?.required"
      >
        Password is <strong>required</strong>.
      </span>
      <span
        class="ion-invalid"
        *ngIf="isSubmitted && form.password.errors?.minLength"
      >
        Min length 8 characters.
      </span>
    </div>
    <ion-button
      [disabled]="isSubmitted"
      type="submit"
      expand="block"
      shape="round"
      >Sign Up <ion-spinner *ngIf="isSubmitted"></ion-spinner
    ></ion-button>
  </form>
</ion-content>
