<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/login']">Sign In</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <img src="assets/ramadan.png" alt="ramadan" />
  </div>
  <form [formGroup]="registerForm" id="form" (ngSubmit)="onSubmit()" novalidate>
    <ion-item class="ion-margin-bottom">
      <ion-input
        formControlName="email"
        type="email"
        placeholder="Email"
      ></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-input
        formControlName="password"
        type="password"
        placeholder="Password"
      ></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" shape="round">Sign Up</ion-button>
  </form>
</ion-content>
