<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/login']">Sign In</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <img src="assets/ramadan.png" alt="ramadan" />
  </div>
  <form [formGroup]="registerForm" id="form" (ngSubmit)="onSubmit()" novalidate>
    <ion-item
      class="ion-margin-bottom"
      [ngClass]="{ 'is-invalid': isSubmitted && form.password.errors }"
    >
      <ion-input
        formControlName="email"
        type="email"
        placeholder="Email"
      ></ion-input>
    </ion-item>
    <div *ngIf="isSubmitted && form.email.errors">
      <span
        class="is-invalid"
        *ngIf="isSubmitted && form.email.errors?.required"
      >
        Email is <strong>required</strong>.
      </span>
      <span class="is-invalid" *ngIf="isSubmitted && form.email.errors?.email">
        Should be a valid email.
      </span>
    </div>
    <ion-item
      class="ion-margin-bottom"
      [ngClass]="{ 'is-invalid': isSubmitted && form.password.errors }"
    >
      <ion-input
        formControlName="password"
        type="password"
        placeholder="Password"
      ></ion-input>
    </ion-item>
    <div *ngIf="isSubmitted && form.password.errors">
      <span
        class="is-invalid"
        *ngIf="isSubmitted && form.password.errors?.required"
      >
        Password is <strong>required</strong>.
      </span>
      <span
        class="ion-invalid"
        *ngIf="isSubmitted && form.password.errors?.minLength"
      >
        Min length 8 characters.
      </span>
    </div>
    <ion-button
      [disabled]="isSubmitted"
      type="submit"
      expand="block"
      shape="round"
      >Sign Up</ion-button
    >
  </form>
</ion-content>
