<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Daily Statistics </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refreshStats($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="loading" class="empty">
    <ion-spinner class="spinner" name="bubbles" color="tertiary"></ion-spinner>
    <span>Fetching date</span>
  </div>
  <div #content *ngIf="!loading" id="PrintStats">
    <ion-item>
      <ion-label>Number of persons with taken meals:</ion-label>
      <ion-label> {{ personsNumber }} / {{ totalPersonsNumber }} </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Number of Family meals:</ion-label>
      <ion-label>{{ familyMealsNumber }} </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Number of Single meals:</ion-label>
      <ion-label>{{ singleMealsNumber }} </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Number of meals:</ion-label>
      <ion-label>{{ mealsNumber }} </ion-label>
    </ion-item>
  </div>
  <ion-button expand="block" shape="round" (click)="downloadPDF()">
    Download Daily Statistics
  </ion-button>
</ion-content>
