<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Daily Statistics </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refreshStats($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div #content id="PrintStats">
    <ion-item>
      <ion-label>Number of Family meals:</ion-label>
      <ion-label>{{ getFamilyMealsNumber() }} </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Number of Single meals:</ion-label>
      <ion-label>{{ getSingleMealsNumber() }} </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Number of meals:</ion-label>
      <ion-label>{{ getMealsNumber() }} </ion-label>
    </ion-item>
  </div>
  <ion-button expand="block" shape="round" (click)="downloadPDF()">
    Download Daily Statistics
  </ion-button>
</ion-content>
