<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf="bulkMode">Add Meals</ion-title>
    <ion-title *ngIf="!bulkMode">Add new person</ion-title>

    <ion-buttons slot="end">
      <ion-button *ngIf="!bulkMode" (click)="changeMode()"
        >Bluk mode</ion-button
      >
      <ion-button *ngIf="bulkMode" (click)="changeMode()"
        >Normal mode</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form
    *ngIf="!bulkMode"
    [formGroup]="fastingPersonForm"
    (ngSubmit)="onSubmit()"
    novalidate
  >
    <ion-item lines="full">
      <ion-label position="floating">Identifier</ion-label>
      <ion-input type="number" formControlName="id"></ion-input>
    </ion-item>
    <div *ngIf="form.id.errors">
      <span
        class="is-invalid ion-padding"
        *ngIf="isSubmitted && form.id.errors?.required"
      >
        Identifier is <strong>required</strong>.
      </span>
    </div>
    <ion-item lines="full">
      <ion-label position="floating">First Name</ion-label>
      <ion-input type="text" formControlName="firstName"></ion-input>
    </ion-item>
    <div *ngIf="form.firstName.errors">
      <span
        class="is-invalid ion-padding"
        *ngIf="isSubmitted && form.firstName.errors?.required"
      >
        First name is <strong>required</strong>.
      </span>
    </div>
    <ion-item lines="full">
      <ion-label position="floating">Last Name</ion-label>
      <ion-input type="text" formControlName="lastName"></ion-input>
    </ion-item>
    <div *ngIf="form.lastName.errors">
      <span
        class="is-invalid ion-padding"
        *ngIf="isSubmitted && form.lastName.errors?.required"
      >
        Last name is <strong>required</strong>.
      </span>
    </div>

    <ion-item lines="full">
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input type="text" formControlName="phone"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Signle meal</ion-label>
      <ion-input type="number" formControlName="singleMeal"></ion-input>
    </ion-item>
    <div *ngIf="form.singleMeal.errors">
      <span
        class="is-invalid ion-padding"
        *ngIf="isSubmitted && form.singleMeal.errors?.required"
      >
        Single meal is <strong>required</strong>.
      </span>
      <span
        class="is-invalid ion-padding"
        *ngIf="isSubmitted && form.singleMeal?.errors?.incorrect"
      >
        Single meal or Family meal should be <strong>greater than 0</strong>.
      </span>
    </div>

    <ion-item lines="full">
      <ion-label position="floating">Family meal</ion-label>
      <ion-input type="number" formControlName="familyMeal"></ion-input>
    </ion-item>
    <div *ngIf="form.familyMeal.errors">
      <span
        class="is-invalid ion-padding"
        *ngIf="isSubmitted && form.familyMeal.errors?.required"
      >
        Family meal is <strong>required</strong>.
      </span>
      <span
        class="is-invalid ion-padding"
        *ngIf="isSubmitted && form.familyMeal?.errors?.incorrect"
      >
        Single meal or Family meal should be <strong>greater than 0</strong>.
      </span>
    </div>

    <ion-item lines="full">
      <ion-label position="floating">Comments</ion-label>
      <ion-input type="text" formControlName="comment"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Came today</ion-label>
      <ion-checkbox formControlName="cameToday"></ion-checkbox>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button
          [disabled]="isSubmitted"
          type="submit"
          shape="round"
          expand="block"
          >Add new person
          <ion-spinner *ngIf="isSubmitted"></ion-spinner>
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
  <form
    *ngIf="bulkMode"
    [formGroup]="bulkMealsForm"
    (ngSubmit)="onBulkSubmit()"
    novalidate
  >
    <ion-item lines="full">
      <ion-label position="floating">Signle meal</ion-label>
      <ion-input type="number" formControlName="singleMeal"></ion-input>
    </ion-item>
    <div *ngIf="bulkForm.singleMeal.errors">
      <span
        class="is-invalid ion-padding"
        *ngIf="isBulkSubmitted && bulkForm.singleMeal.errors?.required"
      >
        Single meal is <strong>required</strong>.
      </span>
      <span
        class="is-invalid ion-padding"
        *ngIf="isBulkSubmitted && bulkForm.singleMeal?.errors?.incorrect"
      >
        Single meal or Family meal should be <strong>greater than 0</strong>.
      </span>
    </div>

    <ion-item lines="full">
      <ion-label position="floating">Family meal</ion-label>
      <ion-input type="number" formControlName="familyMeal"></ion-input>
    </ion-item>
    <div *ngIf="bulkForm.familyMeal.errors">
      <span
        class="is-invalid ion-padding"
        *ngIf="isBulkSubmitted && bulkForm.familyMeal.errors?.required"
      >
        Family meal is <strong>required</strong>.
      </span>
      <span
        class="is-invalid ion-padding"
        *ngIf="isBulkSubmitted && bulkForm.familyMeal?.errors?.incorrect"
      >
        Single meal or Family meal should be <strong>greater than 0</strong>.
      </span>
    </div>

    <ion-row>
      <ion-col>
        <ion-button
          [disabled]="isSubmitted"
          type="submit"
          shape="round"
          expand="block"
          >Add meals
          <ion-spinner *ngIf="isSubmitted"></ion-spinner>
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
