<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Person Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false">
  <ion-refresher slot="fixed" (ionRefresh)="refreshFastingPeople($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="fastingPerson">
    <ion-label><strong>First Name:</strong> {{fastingPerson.firstName}} </ion-label>
    <br>
    <ion-label><strong>Last Name:</strong> {{fastingPerson.lastName}}</ion-label>
    <br>
    <ion-label><strong>Number of people: </strong>{{fastingPerson.fasting}}</ion-label>
  </div>
</ion-content>
