<ion-content [fullscreen]="true">
  <h1 class="ion-text-center">List of fasting people</h1>
  <ion-searchbar
    [placeholder]="'search by Name or Id'"
    [(ngModel)]="searchTerm"
    showCancelButton="focus"
    animated
  >
  </ion-searchbar>
  <ion-refresher slot="fixed" (ionRefresh)="refreshFastingPeople($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item>
      <ion-label class="id">Id</ion-label>
      <ion-label>Name</ion-label>
      <ion-icon></ion-icon>
    </ion-item>
    <div class="virtual-scroll">
      <ion-item
        *ngFor="let person of (fastingPersonService.fastingPeople$ | async) | filter:searchTerm"
        (click)="personDetails(person)"
      >
        <ion-label class="id">{{person.id}}</ion-label>
        <ion-label>{{person.firstName}} {{person.lastName}} </ion-label>
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
